.user-message {
    display: flex;
    justify-content: end;
    align-items: start;
}

.profile-image {
    width: 45px;
    border-radius: 45px;
    object-fit: cover;
}

.robot-message {
    display: flex;
    align-items: start;
}

.text-message-container {
    background-color: #eee;
    padding: 10px 12px;
    border-radius: 10px;
    margin: 0 10px 20px 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.text-time {
    font-size: 14px;
    color: rgb(125, 125, 125);
}