.chat-input-container {
    display: flex;
    margin-bottom: 20px;
}

.send-button, .clear-button {
    padding: 12px 20px;
    margin-left: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.send-button {
    background-color: rgb(25, 135, 84);
    color: #fff;
}

.clear-button {
    background-color: rgb(230, 230, 230);
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #969595;
    font-size: 15px;
    flex-grow: 1;
}

.loading-spinner {
    height: 40px;
    margin: -15px;
}